:root {
    --primary-color: #1f2937;
    --secondary-color: #18978F;
    --accent-color: #E9DAC1;
    --special-color: #F7ECDE;
    --special-color-2: #FF4331;
    --dark: #242B2E;
    --white: #CAD5E2;

    --tailwind-bg: #27272a;
    --tailwind-text: #6ee7b7;
    --tailwind-cardBg: #0d9488;
}


body {
text-align: center;
    height: 100vh;
    background-color: var(--tailwind-bg);
    color: var(--tailwind-text);
}

.hidden {
    display: none;
}

.visible {
    display: contents;
}

.start-end-date{
    display: inline-block;
}

.city-name-genre {
    display: inline-block;
}
#search-result {
    margin: 24px 16px;
}

#weatherInfo div {
    padding: 1.5rem 1rem;
}

#ticketInfo {

}

.eCard {
    display: flex;
    justify-content: space-around;
    background-color: var(--tailwind-cardBg);
    color: white;
    border: var(--dark) 2px solid;
    border-radius: 8px;
    width: 300px;
    height: 160px;
    margin: 5px;
    padding: 8px;
}

.eCard:focus {
    max-width: 610px;
    min-width: 610px;
    width: auto;
}

#weather-info {
    padding-left: 2rem; 
}