:root {
    --primary-color: #54BAB9;
    --secondary-color: #18978F;
    --accent-color: #E9DAC1;
    --special-color: #F7ECDE;
    --special-color-2: #FF4331;
    --dark: #242B2E;
    --white: #CAD5E2;

    --tailwind-bg: #e5e5e5;
    --tailwind-text: #111827;
    --tailwind-cardBg: #0d9488;
}


body {

    height: 100vh;
    background-color: var(--tailwind-bg);
    color: var(--tailwind-text);
}

#search-result {
    margin: 24px 16px;
}

#weatherInfo div {
    padding: 1.5rem 1rem;
}

#ticketInfo {

}

.eCard {
    display: inline-flex;
    background-color: var(--tailwind-cardBg);
    color: white;
    border: var(--dark) 2px solid;
    border-radius: 8px;
    width: 300px;
    height: 160px;
    margin: 5px;
    padding: 8px;
}

.eCard:focus {
    min-width: 610px;
    width: auto;
}

.weatherForecast {
    display: inline-block;
    border: var(--dark) 6px solid;
    color: var(--special-color-2);
    margin: 2px 1px;
}

.modal {
    text-align: center;
    padding: 0;
    margin-left: 600px;
  }