:root {
    --dark: #242B2E;
    --white: #CAD5E2;

    --tailwind-bg: #27272a;
    --tailwind-text: #6ee7b7;
    --tailwind-cardBg: #0d9488;
}


body {
text-align: center;
    height: 100vh;
    background-color: var(--tailwind-bg);
    color: var(--tailwind-text);
}

.hidden {
    display: none;
}

.visible {
    display: contents;
}

.start-end-date{
    display: inline-flex;
    justify-content: center;
    margin: 0 7%;
}

.city-name-genre {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 0 7%;
}
#search-result {
    margin: 24px 16px;
}

.card-body {
    padding: 0 1rem 0 0;
}

#search {
    margin: 1%;
}

.eCard {
    display: inline-flex;
    justify-content: space-around;
    background-color: var(--tailwind-cardBg);
    color: white;
    border: var(--dark) 2px solid;
    border-radius: 8px;
    width: 300px;
    height: 160px;
    margin: 5px;
    padding: 8px;
}

.eCard:focus {
    max-width: 610px;
    min-width: 610px;
    width: auto;
}

#weather-info {

}

@media only screen and (min-width: 1024px) {
    .header {
        margin: 3% 7% 0 7%;
    }

    #search {
        margin: 1rem 15%;
    }
}

@media only screen and (max-width: 663px) {
    /* .eCard {
        display: flex;
        flex-direction: column;
    } */

    .eCard:focus {
        max-width: 450px;
        min-width: 450px;
        width: auto;
    }

    .card-body {
        text-align: left;
    }

    #weather-info {
        text-align: left;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.warningModal{
    
}
